@font-face {
  font-family: "ProFont";
  src: url("ProFont.ttf");
}
.dark {
  color: #FFF9EB;
  background-color: #101418;
}

body {
  font-family: "ProFont";
  display: flex;
  align-items: center;
  flex-direction: column;
}
