<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/styles/style.css">
    <link rel="stylesheet" href="/static/styles/default.min.css">
    <link rel="icon" href="/static/images/RW_FLOWER.svg">
    <script src="/static/scripts/highlight.min.js"></script>
  </head>

  <body class="dark">
    <form action="/render" method="post">
      <button onClick="window.location.reload();">Render</button>
    </form>

    <div class="container">

      <div class="left">
        <h1>Wicketpedia</h1>
        {{ links|safe }}
      </div>

      <div class="center">
        <header>
          <h1>{{ title }}</h1>
        </header>

        <article>
          {{ content|safe }}
        </article>
      </div>

    </div>

    <footer>
      {% if tags.len() > 0 %}
      <ul class="tags">
        {% for tag in tags %}
        <li> #{{ tag }} </li>
        {% endfor %}
      </ul>
      {%- endif %}
    </footer>

  <script>hljs.highlightAll();</script>
  </body>
</html>
